html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  height: 100vh;
  background-image: url("./img/disc.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  display: flex;
}

.key {
  padding: 1em;
  margin-right: 3em;
  width: 100px;
  height: 100px;
  border: solid 2px rgb(117, 214, 169);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(243, 243, 243, 0.3);
  transition: all 0.07s;
}

.play {
  transform: scale(1.1);
  border-color: rgb(172, 228, 202);
  border-radius: 35%;
  box-shadow: 0px 0px 16px 1px rgba(212, 236, 225, 0.56);
  background-color: rgba(243, 243, 243, 0.5);
}

kbd {
  font-size: 3rem;
  color: rgb(14, 14, 14);
}

span {
  color: rgb(93, 93, 93);
}
